.active {
  font-weight: bold;
  opacity: 1;
  border-bottom: 2px solid currentColor;
}

a {
  padding: 4px 0;
  &:hover {
    opacity: 0.8;
  }
}

.topbar {
  h1 {
    &:hover {
      opacity: 0.8;
    }
  }
}